.container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

button{
  margin: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}
  
.mat-form-field-infix{
  margin: 10px;
}